<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV de Wblester Aguirre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>WBLESTER AGUIRRE</h1>
        <p>ACTUARIO</p>
        <p>Calle Colina de jades 41, Boulevares, Naucalpan</p>
        <p>56-4600-2096 | wblester.vite@icloud.com</p>
    </header>

    <section>
        <h2>Experiencia Laboral</h2>
        <h3>2017 – Actualmente</h3>
        <h4>ZURICH SEGUROS | Ejecutivo bilingüe</h4>
        <ul>
            <li>Gestión de siniestros: Recepción y documentación de reportes, asesoría a clientes, colaboración con ajustadores y evaluación de reclamaciones.</li>
            <li>Análisis de datos: Elaboración de reportes mensuales utilizando herramientas de BI y análisis estadísticos.</li>
        </ul>
    </section>

    <section>
        <h2>Proyectos</h2>
        <h3>Proyecto de Integración de Bases de Datos</h3>
        <p>Diseño y desarrollo de consultas complejas para el cruce de datos y presentación de informes detallados.</p>
        <h3>Análisis de Recursos en Call Center</h3>
        <p>Diseño y entrenamiento de modelos para la predicción de recursos, aplicando técnicas de regresión.</p>
        <h3>Limpieza y Preparación de Datos</h3>
        <p>Uso de Python y sus librerías (NumPy y Pandas) para la recolección y limpieza de datos.</p>
    </section>

    <section>
        <h2>Habilidades Técnicas</h2>
        <ul>
            <li>PYTHON INTERMEDIO: Análisis exploratorio univariado, bivariado y multivariado</li>
            <li>SQL INTERMEDIO: Gestión y consulta de bases de datos.</li>
            <li>BI Básico: Manejo de herramientas de Business Intelligence para la visualización y análisis de datos.</li>
            <li>Inglés B2: Comunicación efectiva en contextos profesionales y técnicos.</li>
        </ul>
        <!-- Enlace al dashboard interactivo -->
        <p>
            <a href="/dashboard/" target="_blank">Ver Mis Habilidades Técnicas (Dashboard Interactivo)</a>
        </p>
    </section>

    <section>
        <h2>Educación</h2>
        <h3>UNAM – FES ACATLAN</h3>
        <p>ACTUARIA | 2021–2025</p>
        <h3>IPN – UPIICSA</h3>
        <p>Ingeniería Industrial (Trunca) | 2013–2017</p>
    </section>

    <section>
        <h2>Competencias</h2>
        <ul>
            <li>Trabajo en equipo</li>
            <li>Comunicación efectiva</li>
            <li>Probabilidad y estadística</li>
            <li>Base de datos</li>
        </ul>
    </section>

    <section>
        <h2>Certificaciones y Cursos en Platzi</h2>
        <h3>Curso Profesional de Machine Learning con Scikit-learn</h3>
        <p>Aprendizaje en la implementación de algoritmos de aprendizaje supervisado y no supervisado, como regresión logística, árboles de decisión y clustering.</p>
    </section>

</body>
</html>